<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchImageFile~iphone</key>
	<string>$(MARKETING_VERSION)</string>
	<key>EndpointURL</key>
	<string>https://e93e-159-196-169-221.ngrok-free.app/</string>
	<key>HuggingFaceAPIKey</key>
	<string></string>
</dict>
</plist>
